.fsContainer{
  display: flex;
  position: absolute;
  bottom:25px;
  right:110px;
  .btn_fs{
    all: unset;
    cursor: pointer;
    transition: all .2s ease-in-out;
    &:hover{
      transform: scale(1.2);
    }
    #img_fullScreen{
      height: 22px;
      width:22px;
    }
  }
}