.sliderContainer{
  display: inline;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1.4%;
  margin-right: 16.5%;
  &:hover > .slider {
    max-width: 90px;
    opacity: 1;
  }
  .btn_vol{
    border:none;
    outline: none;
  }
  .slider{
    transition: max-width 1s ease;
    -webkit-appearance: none;
    opacity: 0;
    max-width: 0;
    max-height: 3px;
    background: white;
    outline: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      border: none;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      width: 13px;
      height: 13px;
      transition: all .2s ease-in-out;
      &:hover{
        transform: scale(1.15);
      }
    }
    &::-moz-range-thumb {
      border: none;
      width: 13px;
      height: 13px;
      cursor: pointer;
      border-radius: 50%;
      background-color: white;
      transition: all .2s ease-in-out;
      &:hover{
        transform: scale(1.15);
      }
    }
  }
}

@media screen and (max-width: 770px){
  .sliderContainer{
    margin-right: 20.5%;
  }
}

@media screen and (max-width: 650px){
  .sliderContainer{
    margin-right: 23.5%;
  }
}

@media screen and (max-width: 580px){
  .sliderContainer{
    margin-right: 24.5%;
  }
}

@media screen and (max-width: 550px){
  .sliderContainer{
    margin-right: 29%;
  }
}