.videoPlayer{
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
    #logo{
      font-family: 'Rock Salt';
      padding: 25px;
      font-size: 40px;
      text-shadow: 3px 1px 1px darkred;
      margin: 0;
    }
}